[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
pandas = "*"
opencv-python = "*"
pillow = "*"
scipy = "*"
scikit-learn = "*"
keras-tuner = "*"

[dev-packages]

[requires]
python_version = "3.7"
